body {
      background: url(../images/background.png);
      background-size: cover;
      background-attachment: fixed;
}

/* h1 {
      font-size: 50px;
      text-align: center;
      color: red;
} */

.bottom {
      background-color: black;
      color: white;
      text-align: center;
}

#logo {
      text-align: center;
}

.bottom-1 {
      color: white;
}

.bottom h1 {
      color: white;
}

.text-1 {
      text-align: center;
}

.developer h1 {
      color: aqua;
      text-decoration: none;
      font-weight: bolder;
}

.developer img {
      width: 200px;
      height: 200px;
      word-wrap: break-word;
}

marquee {
      top: 400px;
      left: 200px;
      width: 950px;
      height: 20px;
      color: white;
      font-family: "OPPOSans-L";
      font-weight: bolder;
      padding: 5px;
      background: rgba(255, 255, 255, 0.445);
      border-radius: 5px;
  }


@font-face {
      font-family: 'OPPOSans-L';
      src: url(../font/OPPOSans-L.ttf);
}
