body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-box {
    color: white;
    text-align: center;
}

span {
    text-decoration: line-through;
}

.text-box a {
    color: white;
    font-size: 20px;
}

.back a{
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.back a:hover {
    transition-duration: 0.5s;
    font-size: 30px;

}